[Desktop Entry]
Encoding=UTF-8
Name=Makemkv
GenericName=Makemkv
Comment=Makemkv
Exec=${SNAP}usr/bin/makemkv
Icon=${SNAP}/meta/gui/makemkv.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;
Keywords=makemkv;
